# Dependências (Recursivo)
**/node_modules/
jspm_packages/

# Ambiente e Segredos (Recursivo)
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build / Output (Recursivo)
**/dist/
**/build/
**/coverage/
**/public/uploads/

# OS
.DS_Store
Thumbs.db

# Prisma
# Migrações DEVEM ser versionadas para produção.
# Ignoramos apenas arquivos de banco local se necessário.
# dev.db
# dev.db-journal
