:root {
  --background: #020617;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Aquário não tem scroll lateral infinito, é imersivo */
  background: #020617;
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  font-family: 'Outfit', sans-serif;
}

/* Esconde scrollbar para imersão total */
::-webkit-scrollbar {
  display: none;
}
